#first-part {
  width: 75%;
  height: 100vh;
  float: left;
  position: static;
  overflow: auto;
  border-right: 1px solid #d21f1f;
}

#second-part {
  width: 24%;
  height: 100%;
  float: right;
  position: static;
}

#second-part > div {
  height: 50%;
}

#second-part-1 {
  display: flex;
  flex-direction: column;
}

.collapsed {
  height: 0 !important;
}


#draggable-button {
  position: absolute;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
}